body {
    background: #FFFFF0;
}

/*.bg {*/
/*background: url(../image/hippo.jpg);*/
/*filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";*/
/*-moz-background-size: 100% 100%;*/
/*background-size: 100% 100%;*/
/*background-attachment: fixed;*/
/*}*/

.abel_font_color {
    color: #FF00FF;
    font-size: large
}

.little_hippo {
    width: 70px;
    height: 52px;
}

input {
    width: 300px;

}

.yyd_and_mmd {
    background: orchid;
    margin: 20px 0;
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, .4);
}

.query_section{
    background: #ebcccc;
    margin: 20px 0;
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, .4);
}
